.answer-grid {
  display: flex;
  flex-grow: 1;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.answer-grid-text {
  padding-top: 4px;
  padding-left: 8px;
}

.answer-cell {
  border: 1px solid #474545;
  width: 40%;
  height: 40px;
  margin: 6px;
  
  &.active {
    border-color: #8a8787;
  }
  &.correct {
    background-color: green;
  }
  &.close {
    background-color: yellow
  }
  &.skipped {
    color: gray
  }
}
