.player-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 300px;
  margin: auto;
  margin-bottom: 20px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 20px;
  margin: auto;
}
